/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    background: #1f1f27;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

/* SECTION WRAPPER */
.about-section {
    padding: 80px 100px;
    position: relative;
}

/* Decorative background lines */
.about-section::before,
.about-section::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: #1f1f27;
    top: -50px;
    right: -50px;
    border-radius: 50%;
    z-index: 0;
}

.about-section::after {
    left: -80px;
    bottom: 0;
    top: auto;
}

/* TITLE */
.top-title h2 {
    background: #f0a500;
    display: inline-block;
    padding: 12px 35px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
}

/* LAYOUT */
.container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 5;
}

/* LEFT SIDE */
.left {
    width: 55%;
}

.hello {
    font-size: 20px;
    margin-bottom: 15px;
    opacity: 0.9;
    color: #f0a500;
}

.desc {
    color: #d4d4d4;
    line-height: 1.7;
    margin-bottom: 18px;
    font-size: 15.5px;
}

.hightlight {
    color: #f0a500;
}

.hightlight1 {
    color: #f0a500;
}

.hightlight2 {
    color: #f0a500;
}

/* CONTACT BOX */
.contact-box h3 {
    margin-top: 25px;
    font-size: 22px;
    margin-bottom: 10px;
}

.contact-box a {
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    display: flex;
    color: #ffffff;
    gap: 10px;
}

/* RIGHT SIDE PHOTO CARD */
.profile-card {
    width: 320px;
    height: 380px;
    background: #1f1f27;
    border-radius: 35px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}
