/* === GENERAL === */
body {
  background-color: #1f1f27;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Prevent Bootstrap conflict */
.custom-header,
.intro-section,
.intro-left,
.intro-right,
.intro-image-wrapper {
  all: unset;
  display: revert;
}

/* === HEADER === */
.custom-header {
  background: #1f1f27;
  padding: 25px 0;
}

.brand {
  font-size: 28px;
  font-weight: 700;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #f0a500;
}

/* === INTRO SECTION === */
.intro-section {
  margin-top: 60px;
  display: flex;
  gap: 40px;
}

.intro-name {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 25px;
}

.intro-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  margin-left: 25px;
}

.contact-btn {
  all: revert;
  background: transparent;
  border: 2px solid #e5a34a;
  padding: 10px 22px;
  color: #e5a34a;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  margin-left: 25px
}

.contact-btn:hover {
  background: #e5a34a;
  color: #1f1f27;
}


/* === IMAGE SECTION === */
.intro-image-wrapper img {
  width: 300px;
  height: auto;
  border-radius: 6px;
}

/* === RIGHT SIDE === */
.mini-title {
  text-transform: uppercase;
  font-size: 12px;
  color: #f0a500;
  letter-spacing: 1px;
  margin: 10px 25px;
}

.intro-role {
  font-size: 28px;
  margin: 10px 25px;
  line-height: 1.3;
}

.intro-desc {
  max-width: 350px;
  margin: 15px 25px;
  font-size: 14px;
  color: #ccc;
}

.learn-more {
  color: #f0a500;
  text-decoration: none;
  font-size: 14px;
  margin: 10px 25px;
}
